.new_group
  %h1 Create a New Group
  %p fill out the form to create a new group
= form_for @group_form do |i|
  = i.label 'Group Name'
  = i.text_field :name
  %br
  = i.label 'Is your group private?'
  = i.text_field :private
  %br
  = i.label 'description'
  = i.text_field :description
  %br
  = i.submit

= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE'
%br
= link_to 'Home', root_path, method: 'GET'
